:root{
    --branco:#ffffff;
    --azul:#00008B;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Código CSS dos elementos base */
body {
    background-color:var(--azul);
    font-family: 'Arial', Times, serif;
    color:white;
}

/* Desativar barra de rolagem
body::-webkit-scrollbar {
    display: none;
} */

header .container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

header .logo{
    margin-left: 6px;
    color: var(--branco);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:rgb(238, 238, 238);
    margin-right: 10px;
}
 
header nav a:hover{
    color:var(--azul);
    font-size: 110%;
    background-color: var(--branco);

}

/* Seção do cabeçalho com logo */
.logo:hover{
    transform: scale(0.9);
}

/* Exibição do Filme principal */
.filme-principal{
    font-size:20px;
    color:#fff;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/home/neeturo/Documentos/hajime/desafio-recrie-site-de-streaming/img/capa-lelouch.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descri{
    margin-bottom: 40px;
    margin-top: 10px;
}

.filme-principal .title{
    margin-top: 15%;
    font-size: 24px; /* Na aula é 40px  */
    font-family: Arial, Helvetica, sans-serif;
}

.botao{
    background-color:rgba(0, 0, 139, .50);
    border:none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 13px;

    cursor: pointer;
    transition: 0.4s ease all;
}
.botao i{
    margin-right: 7px;
}

.botao:hover{
    background-color: var(--branco);
    color: var(--azul);
}


.container{
    margin-left: 20px;
    position: relative;
    
}

.filme-principal .container{
    width: 70%;
    
}

.carousel-filme{
    margin-top: 5px;
}

.box-filme{
    
    
    /* Cursor alterado para acilitar navegação e UX  */
    cursor: pointer;
    
    /* Define posição para ocultar texto com z index */
    /* position: relative; */
    
    /* Definições para criar efeito de imagem jogada ao fundo */
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.box-filme:hover{

filter: brightness(60%);
    /* Configura baixo brilho para dar escurecer a miniatura e facilitar leitura de texto sobreposto */

}

.min-title{
    width: 100%;
    
    padding: 10px 0;

    /* Definições de aparência do texto */
    color:rgb(255, 238, 6);
    font-size: 16px;
    font-weight: bold;
    
    /* Definições para efeito de sobreposição */
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0,0,0,.70);
}


.min-title:hover{
opacity: 1;
}


/* Adição para inserir texto em imagem ao passar o mouse */
.box-filme:hover + .min-title{
    opacity: 1;
}


/* Botoes-min - Área de botões que surge dentro da miniatura */
.botao.minbtn{
    margin-bottom: 5px;
}